<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    
    <title><TMPL_VAR name></title>
    
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1;">
    
    <TMPL_IF feedtype>
    <link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
    </TMPL_IF>
    
    <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
    
    <link rel="stylesheet" href="/media/css/style.css">
</head>

<body>
    <div id="container">
        <header id="top">
            <h1><TMPL_VAR name></h1>
        </header>
        
        <div id="main">
            <TMPL_LOOP Items>
            <TMPL_IF new_date>
                <TMPL_UNLESS __FIRST__>    
                    ### End <div class="channelgroup">
                    </div>
                    ### End <div class="daygroup">
                    </div>
                </TMPL_UNLESS>
                <div class="daygroup">
                    <h2><TMPL_VAR new_date></h2>
            </TMPL_IF>
            <TMPL_IF new_channel>
                <TMPL_UNLESS new_date>
                    ### End <div class="channelgroup">
                    </div>
                </TMPL_UNLESS>
                <div class="channelgroup">
                    <h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
                    <TMPL_IF channel_face>
                        <img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
                    </TMPL_IF>
            </TMPL_IF>
            <div class="entrygroup" id="<TMPL_VAR id>"<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
                <article>
                    <header>
                        <h1<TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h1>
                    </header>
                    <div class="entry">
                        <div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
                            <TMPL_VAR content>
                        </div>
                    </div>
                    <aside>
                        <p class="date">
                            <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a>
                        </p>
                    </aside>
                </article>
            </div>
            <TMPL_IF __LAST__>
            ### End <div class="channelgroup">
            </div>
            ### End <div class="daygroup">
            </div>
            </TMPL_IF>
            </TMPL_LOOP>
        </div>
        
        <footer>
            <p><strong>Subscriptions</strong>: <TMPL_LOOP Channels><a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a></TMPL_LOOP></p>
            <p><strong>Last updated</strong>: <TMPL_VAR date> <em>All times are UTC.</em></p>
            <p><strong>Powered by</strong>: <a href="http://www.planetplanet.org/">Planet</a></p>
        </footer>
    </div>
</body>
</html>